<div class="row pt-5">
  <div class="col-6 m-auto">
    <div class="card m-auto Larger shadow">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" formControlName="userName" class="form-control">
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control">
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control">
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" formControlName="cpassword" class="form-control">
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" formControlName="mobile" class="form-control">
          </div>

          <div class="form-group col-12 text-center">
            <button type="submit" class="btn btn-primary" style="margin: 20px 20px 20px 0px;">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>

          Form Values : {{RegisterForm.value | json}}<br>
          Form Status : {{RegisterForm.valid}}
        </form>
      </div>
    </div>
  </div>
</div>
